<div class="countries_card-container">
    <div *ngFor="let country of countries" class="countries_card">
        <div class="flag">
            <img [src]="country.flag" alt="">
        </div> 
        <p>{{ country.name }}</p>
        <p>{{ country.capital }}</p>
    </div>
</div>