.countries_card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    column-gap: 15px;
    row-gap: 25px;
    justify-content: center;
}

.countries_card{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px #aaa;
}
.countries_card p{
    margin: 0;
}

.countries_card .flag{
    width: 100%;
    height: 35%;
    
 }

 .flag img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px 10px 0 0;
 }